<div class="navbar navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>
          <h1 class=" py-2">The Ultimated Movie Lister</h1>
        <div>
          <%= link_to new_list_path do %>
              <a class="btn btn-ghost" href="#"><i class="fa-solid fa-film"></i> Add List</a>
          <% end %>
        </div>
        </div>
      </div>
    </div>
