.navbar-lewagon {
  width: 100%;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 10px #8a8a8a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50px;
}

.remove-link-stuff {
  color: #1f1f1f;
  text-decoration: none;
}
